html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/*============================
MIXINS
=============================*/
/*============================
FONTS & COLORS
=============================*/
span {
  font-family: "Verdana", "Geneva", sans-serif; }

p {
  font-family: "Verdana", "Geneva", sans-serif; }

.skateboarders h2 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; }

/*============================
UNIVERSAL
=============================*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*============================
BODY
=============================*/
body {
  font-size: 62.5%; }

.background {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../../img/bg.jpg"); }

.container {
  max-width: 1024px;
  margin: 0 auto; }

img {
  max-width: 100%; }

/*============================
MENU BAR
=============================*/
.menu-bar {
  float: right; }

.menu-bar span,
.menu-bar i {
  color: #e2dedb; }

.menu-bar span:first-child {
  margin-right: 20px; }

.menu-bar span {
  margin-right: 100px; }

.menu-bar i {
  font-size: 35px;
  vertical-align: middle; }

.menu-bar ul,
.menu-bar ul li {
  display: inline-block; }

.menu-bar li {
  height: 61px;
  width: 61px;
  vertical-align: middle; }

.menu-bar li i {
  margin-top: 12px;
  margin-left: 15px; }

.menu-bar i.fa-facebook {
  margin-left: 20px; }

.menu-bar li:nth-child(2) {
  background-color: #445897; }

.menu-bar li:nth-child(3) {
  background-color: #ce8f43; }

.menu-bar li:nth-child(4) {
  background-color: #698ec3; }

.menu-bar li:last-child {
  background-color: #b72731; }

/*============================
NAV
=============================*/
nav {
  clear: both;
  margin: 0 auto; }

nav ul {
  max-width: 12;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  max-width: 100%;
  padding: 0; }
  nav ul::after {
    clear: both;
    content: "";
    display: table; }

nav ul li {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  background-color: #b3282e;
  color: white;
  font-family: "Verdana", "Geneva", sans-serif;
  text-align: center;
  padding: 10px 20px;
  font-size: 1.2em; }
  nav ul li:last-child {
    margin-right: 0; }

/*============================
HEADER
=============================*/
header {
  background-image: url("../../img/top-image.png");
  background-size: 100%;
  background-position: right top;
  background-repeat: no-repeat;
  border: 10px white solid;
  max-width: 12;
  margin-left: auto;
  margin-right: auto; }
  header::after {
    clear: both;
    content: "";
    display: table; }

header img {
  margin-top: 40px;
  margin-bottom: 40px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  header img:last-child {
    margin-right: 0; }

/*============================
ARTICLE SECTIONs
=============================*/
.articles ul.nav-bullets {
  text-align: center;
  list-style: none; }

.articles li.article-nav-bullet {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 100%; }

div.article-container {
  max-width: 12;
  margin-left: auto;
  margin-right: auto; }
  div.article-container::after {
    clear: both;
    content: "";
    display: table; }

.article-container article {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  background-color: #fff;
  padding: 10px;
  height: 100%; }
  .article-container article:last-child {
    margin-right: 0; }

.article-container h2 {
  font-size: 1.5em;
  color: #000; }

.article-container h2 {
  color: #000; }

.article-container span {
  color: #b3282e;
  text-align: center; }

/*============================
SKATEBOARDERS SECTION
=============================*/
.skateboarders {
  max-width: 12;
  margin-left: auto;
  margin-right: auto; }
  .skateboarders::after {
    clear: both;
    content: "";
    display: table; }

.skateboarders img {
  border: 5px white solid; }

.skateboarders div:first-child {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .skateboarders div:first-child:last-child {
    margin-right: 0; }

.skateboarders div:nth-child(2) {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .skateboarders div:nth-child(2):last-child {
    margin-right: 0; }

.skateboarders div:nth-child(3) {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-right: 0;
  height: 100%; }
  .skateboarders div:nth-child(3):last-child {
    margin-right: 0; }

.skateboarders div:last-child {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-right: 0; }
  .skateboarders div:last-child:last-child {
    margin-right: 0; }

/*============================
BOARDS SECTION
=============================*/
/*============================
CONTACT-BOX SECTION
=============================*/
