
@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';


============================
FONTS
============================

$font-body: Arial, sans-serif;
$font-skateboarders: Times, sans-serif;

$mixinsize: 30px;

p {
  font-family: $font-body;
  font-size: $mixinsize;
}
