
@import '../../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../../bower_components/neat/app/assets/stylesheets/neat';

/*============================
MIXINS
=============================*/

/*============================
FONTS & COLORS
=============================*/
$menu-bar-color: #e2dedb;

$nav-ul-color: #b3282e;

span {
  font-family: $verdana;
}

p {
  font-family: $verdana;
}

.skateboarders h2 {
  font-family: $helvetica;
}


/*============================
UNIVERSAL
=============================*/
* {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}


/*============================
BODY
=============================*/

body {
  font-size: 62.5%;
}

.background {
  background:
    /* top, transparent black, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    /* bottom, image */
    url("../../img/bg.jpg");
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

/*============================
MENU BAR
=============================*/
.menu-bar {
  float: right;
}


.menu-bar span,
.menu-bar i {
  color: $menu-bar-color;
}

.menu-bar span:first-child {
  margin-right: 20px;
}

.menu-bar span {
  margin-right: 100px;
}

.menu-bar i {
  font-size: 35px;
  vertical-align: middle;
}

.menu-bar ul,
.menu-bar ul li {
  display: inline-block;
}

.menu-bar li {
  height: 61px;
  width: 61px;
  vertical-align: middle;
}

.menu-bar li i {
  margin-top: 12px;
  margin-left: 15px;
}

.menu-bar i.fa-facebook {
  margin-left: 20px;
}

.menu-bar li:nth-child(2) {
  background-color: #445897;
}

.menu-bar li:nth-child(3) {
  background-color: #ce8f43;
}

.menu-bar li:nth-child(4) {
  background-color: #698ec3;
}

.menu-bar li:last-child {
  background-color: #b72731;
}

/*============================
NAV
=============================*/
nav {
  clear: both;
  margin: 0 auto;
}

nav ul {
  @include outer-container(12);
  list-style: none;
  max-width: 100%;
  padding: 0;
}

nav ul li {
  @include span-columns(3);
  background-color: $nav-ul-color;
  color: white;
  font-family: $verdana;
  text-align: center;
  padding: 10px 20px;
  font-size: 1.2em;
}


/*============================
HEADER
=============================*/
header {
  background-image: url("../../img/top-image.png");
  background-size: 100%;
  background-position: right top;
  background-repeat: no-repeat;
  border: 10px white solid;
  @include outer-container(12);
}

header img {
  margin-top: 40px;
  margin-bottom: 40px;
  @include span-columns(6);
}

/*============================
ARTICLE SECTIONs
=============================*/


.articles ul.nav-bullets {
  text-align: center;
  list-style: none;
}
.articles li.article-nav-bullet {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 100%;
}

div.article-container {
  @include outer-container(12);
}

.article-container article {
  @include span-columns(4);
  background-color: #fff;
  padding: 10px;
  height: 100%;
}

.article-container h2 {
  font-size: 1.5em;
  color: #000;
}

.article-container h2 {
  color: #000;
}

.article-container span {
  color: $nav-ul-color;
  text-align: center;
}

/*============================
SKATEBOARDERS SECTION
=============================*/

.skateboarders {
  @include outer-container(12);
}

.skateboarders img {
  border: 5px white solid;
}

.skateboarders div:first-child {
  @include span-columns(4);
}

.skateboarders div:nth-child(2) {
  @include span-columns(4);
}

.skateboarders div:nth-child(3) {
  @include span-columns(4);
  @include omega();
  height: 100%
}
.skateboarders div:last-child {
  @include span-columns(8);
  @include omega();
}







/*============================
BOARDS SECTION
=============================*/

/*============================
CONTACT-BOX SECTION
=============================*/
